<%= stylesheet_link_tag 'message_index', media: 'all' %>

<div id="title" class="message_index">
  <div class="slogans">
		<div class="slogan">
		  Messages
		</div>
		<div class="secondary-slogan">
			メッセージ
		</div>
	</div>
</div>

<div class="content">
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <div class="row">
      <div class="mailbox col-sm-6">
        <h3><span><i class="fa fa-inbox"></i>&nbsp;&nbsp;受信済み</span></h3>
        <table class="table">
          <thead>
            <tr>
              <th width="20%">差出人</th>
              <th width="60%">内容</th>
              <th width="20%">受信日時</th>
            </tr>
          </thead>
          <tbody>
            <% @received_messages.each do |message| %>
              <tr>
                <td><% if message.send_user.lesson %><%= link_to message.send_user.name, message.send_user.lesson, class: 'sender' %><% else %><%= message.send_user.name %><% end %></td>
                <td><%= link_to message.content, message, class: 'message-content' %></td>
                <td><%= message.created_at.getlocal("+09:00").strftime("%-m/%-d(#{%w(日 月 火 水 木 金 土)[message.created_at.getlocal("+09:00").wday]}) %H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="mailbox col-sm-6">
        <h3><span><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;送信済み</span></h3>
        <table class="table">
          <thead>
            <tr>
              <th width="20%">宛先</th>
              <th width="60%">内容</th>
              <th width="20%">送信日時</th>
            </tr>
          </thead>
          <tbody>
            <% @sended_messages.each do |message| %>
              <tr>
                <td><% if message.receive_user.lesson %><%= link_to message.receive_user.name, message.receive_user.lesson, class: 'receiver' %><% else %><%= message.receive_user.name %><% end %></td>
                <td><%= link_to message.content, message, class: 'message-content' %></td>
                <td><%= message.created_at.getlocal("+09:00").strftime("%-m/%-d(#{%w(日 月 火 水 木 金 土)[message.created_at.getlocal("+09:00").wday]}) %H:%M") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% if @received_messages.blank? && @sended_messages.blank? %>
			<div class="no-info text-center">
				<p><i class="fa fa-exclamation-circle"></i>  メッセージがありません</p>
			</div>
		<% end %>
  </div>
</div>


