<h1>新規メッセージ</h1>

<%= form_for(@message) do |f| %>

  <div class="form-group">
    <%= f.label :receive_user_id, '宛先id' %>
    <%= f.text_field :receive_user_id %>
  </div>
  
  <div class="form-group">  
    <%= f.label :content, '内容' %>
    <%= f.text_area :content %>
  </div>
  
  <%= f.submit '送信', class: 'btn' %>
<% end %>

<%= link_to '戻る', :back %>