<%= stylesheet_link_tag 'message_new', media: 'all' %>

<div id="title" class="message_new">
  <div class="slogans">
		<div class="slogan">
		  New Message
		</div>
		<div class="secondary-slogan">
			新規メッセージ
		</div>
	</div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h3>宛先：<%= @receive_user.name %> さん</h3>
        
        <%= form_for(@message) do |f| %>
        
          <div class="form-group">  
            <%= f.text_area :content, value: @default_message , size: '10x13',class: "form-control" %>
          </div>
          <div class="text-right">
            <%= f.submit '送信', class: 'btn btn-default' %>
          </div>
          <%= hidden_field_tag :receive_user_id, @receive_user.id %>
        <% end %>
      </div>
    </div>
  </div>
</div>


