<h1>メッセージ詳細</h1>
<table>
  <thead>
    <tr>
      <th>送信元</th>
      <th>宛先</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if @message.send_user_id == current_user.id %>
          <%= @message.send_user.name %>
        <% else %>
          <%= link_to @message.send_user.name, new_message_path(user_id: @message.send_user_id) %>
        <% end %>
      </td>
      <td>
        <% if @message.receive_user_id == current_user.id %>
          <%= @message.receive_user.name %>
        <% else %>
          <%= link_to @message.receive_user.name, new_message_path(user_id: @message.receive_user_id) %>
        <% end %>
      </td>
      <td><%= @message.content %></td>
    </tr>
  </tbody>
</table>

<%= link_to '戻る', :back %>