<%= stylesheet_link_tag 'point_new', media: 'all' %>

<div id="title" class="point_new">
  <div class="slogans">
		<div class="slogan">
		  Point Purchase
		</div>
		<div class="secondary-slogan">
			ポイント購入
		</div>
	</div>
</div>

<div class="content">
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <div class="row">
      <div class="point-price">
        <%= form_tag(action: :purchase, method: :post) do %>
          <%= label_tag :price, '購入ポイント数（1ポイント = 1円）' %>
          <%= number_field_tag :price, nil, min: 1 %>
          <script class="payjp-button" data-key="<%= ENV['PAYJP_PUBLIC_KEY'] %>" src="https://checkout.pay.jp" type="text/javascript"></script>
        <% end %>
      </div>
    </div>
  </div>
</div>