<%= stylesheet_link_tag 'point_index', media: 'all' %>

<div id="title" class="point_index">
  <div class="slogans">
		<div class="slogan">
			Point History
		</div>
		<div class="secondary-slogan">
			ポイント履歴
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
    <%= render 'layouts/flash_messages' %>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
			  <table class="table">
			    <thead>
			      <tr>
  			      <th width="18%">日付</th>
  			      <th width="38%">アクティビティ</th>
  			      <th width="22%">変化量</th>
  			      <th width="22%">残高</th>
  			    </tr>
			    </thead>
			    <tbody>
			      <% @point_histories.zip(@points) do |point_history, point| %>
  			      <% if point_history.from_user_id == nil %>
								<tr class="info">
	  			        <td align="center"><%= point_history.created_at.getlocal("+09:00").strftime("%m/%d %H:%M") %></td>
	  			        <td align="center">ポイント購入</td>
	  			        <td align="right">+ <%= point_history.amount.to_s(:delimited) %>&nbsp;</td>
	  			        <td align="right"><%= point.current_point.to_s(:delimited) %>&nbsp;</td>
	  			      </tr>
	  			    <% elsif point_history.from_user == current_user && point_history.to_user_id == nil %>
								<tr class="danger">
	  			        <td align="center"><%= point_history.created_at.getlocal("+09:00").strftime("%m/%d %H:%M") %></td>
	  			        <td align="center">出金申請</td>
	  			        <td align="right">- <%= point_history.amount.to_s(:delimited) %>&nbsp;</td>
	  			        <td align="right"><%= point.current_point.to_s(:delimited) %>&nbsp;</td>
	  			      </tr>
	  			    <% elsif point_history.from_user == current_user %>
								<tr class="warning">
	  			        <td align="center"><%= point_history.created_at.getlocal("+09:00").strftime("%m/%d %H:%M") %></td>
	  			        <td align="center">レッスン申し込み</td>
	  			        <td align="right">- <%= point_history.amount.to_s(:delimited) %>&nbsp;</td>
	  			        <td align="right"><%= point.current_point.to_s(:delimited) %>&nbsp;</td>
	  			      </tr>
	  			    <% elsif point_history.to_user == current_user %>
	  			    	<tr class="success">
	  			        <td align="center"><%= point_history.created_at.getlocal("+09:00").strftime("%m/%d %H:%M") %></td>
	  			        <td align="center">レッスン収入</td>
	  			        <td align="right">+ <%= point_history.amount.to_s(:delimited) %>&nbsp;</td>
	  			        <td align="right"><%= point.current_point.to_s(:delimited) %>&nbsp;</td>
	  			      </tr>
			      	<% end %>
			      <% end %>
			    </tbody>
			  </table>
				<% unless @point_histories.present? %>
					<div class="no-info text-center">
						<p>ポイント履歴はありません</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>