<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, '表示名', class:'mini-title necessary' %>
    <%= f.text_field :name, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'メールアドレス', class:'mini-title necessary' %>
    <%= f.text_field :email, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード', class:'mini-title necessary' %>
    <%= f.password_field :password, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード確認', class:'mini-title necessary' %>
    <%= f.password_field :password_confirmation, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :language_ids, '使用可能な言語', class:'mini-title necessary' %><br />
    <%= f.collection_check_boxes :language_ids, Language.all, :id, :lang_name, class:'checkbox', include_hidden: false do |b| %>
      <div class="each-checkbox">
        <%= b.check_box %>
        <%= b.label { b.text } %>&nbsp;&nbsp;
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :instrument_ids, '使用楽器', class:'mini-title' %><br />
    <%= f.collection_check_boxes :instrument_ids, Instrument.all, :id, :ins_name_ja, class:'checkbox' do |b| %>
      <div class="each-checkbox">
        <%= b.check_box %>
        <%= b.label { b.text } %>&nbsp;&nbsp;
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :subject_ids, '気になる分野', class:'mini-title' %><br />
    <%= f.collection_check_boxes :subject_ids, Subject.all, :id, :subj_name_ja, class:'checkbox' do |b| %>
      <div class="each-checkbox">
        <%= b.check_box %>
        <%= b.label { b.text } %>&nbsp;&nbsp;
      </div>
    <% end %>
  </div>
  <button type="button" class="btn btn-info btn-sm button-bank" data-toggle="collapse" data-target="#bank-account"><i class="fa fa-angle-down"></i>  ポイント出金先口座</button>
  <div id="bank-account" class="collapse<%= ' in' if user.bank.present? || user.branch.present? || user.account_type.present? || user.account_number.present? || user.account_holder.present? %>">
    <div class="form-group">
      <%= f.label :bank, '金融機関名', class: 'mini-title' %>
      <%= f.text_field :bank, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :branch, '支店名', class: 'mini-title' %>
      <%= f.text_field :branch, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :account_type, '預金種別', class: 'mini-title' %>
      <%= f.text_field :account_type, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :account_number, '口座番号', class: 'mini-title' %>
      <%= f.text_field :account_number, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :account_holder, '口座名義', class: 'mini-title' %>
      <%= f.text_field :account_holder, class: 'form-control' %>
    </div>
  </div>
  <% if type == 'new' %>
    <p class="infobox">
      【利用規約】<br /><br />
      
      &nbsp;&nbsp;本Webサイトの使用は、お客様ご自身の責任でなされるものとします。すべてのサービスには、いかなる保証も適用されません。本Webサイト運用者は、適用される法律の許す限りにおいて、法律上の瑕疵担保責任、商品性の保証、特定目的への適合性の保証、権利の不侵害の保証を含むいかなる明示もしくは黙示の保証責任も一切負いません。また、本Webサイト運用者は、本Webサイトが中断しないこと、時事性、安全性、もしくは誤りがないことを保証しません。<br /><br />
      
      &nbsp;&nbsp;お客様が本Webサイトを利用する場合は、お客様ご自身の判断および責任において行っていただくこと、また、その結果として発生するデータの損失またはお客様のコンピューター・システムへの損傷などのいかなる損害もすべてお客様の責任となることを理解し、同意するものとします。<br /><br />
      
      &nbsp;&nbsp;お客様が本Webサイトの情報を使用すること、または、他のハイパー・リンクされているWebサイトを使用することに起因して発生する直接的損害、間接的損害、偶発的損害、通常の損害、特別の損害あるいはその他の拡大損害 (逸失利益、ビジネスの中断およびその他の損失を含むがこれに限られない) に対するいかなる責任も負いません。
    </p>
  <% end %>
  <div class="actions text-center">
    <%= button_tag type: 'submit', class:'btn button-user' do %>
      <i class="fa fa-arrow-circle-right"></i>  <%= submit_name %>
    <% end %>
  </div>
<% end %>
