<%= stylesheet_link_tag 'user_show', media: 'all' %>

<div id="title" class="user_show">
  <div class="slogans">
		<div class="slogan">
		  My Account
		</div>
		<div class="secondary-slogan">
			マイページ
		</div>
	</div>
</div>


<div class="content">
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <div class="row">
      <div class="myinfo">
        <div class="col-sm-4 col-sm-offset-2">
          <div class="text-center">
            <img class="img-circle circular-img" src="<%= gravatar_url(@user, { size: 180 }) %>">
      	  	<h4 class="myinfo-head"><%= current_user.name %></h4>
      	  </div>
      	  <div class="profile">
            <i class="fa fa-check"></i> <strong>メールアドレス</strong>
            <p><%= current_user.email %></p>

            <i class="fa fa-check"></i> <strong>使用楽器</strong>
            <p><%= @instruments.pluck(:ins_name_ja).join('、') %></p>

            <i class="fa fa-check"></i> <strong>気になる分野</strong>
            <p><%= @subjects.pluck(:subj_name_ja).join('、') %></p>

            <i class="fa fa-check"></i> <strong>使用言語</strong>
            <p><%= @languages.pluck(:lang_name).join('、') %></p>
          </div>
    	  </div>
    	  <div class="col-sm-4">
    	    <h4>保有ポイント：</h4>
    	    <div class="text-center">
    	      <% if @point %>
      	      <span class="number"><%= @point.current_point %></span>   P
            <% else %>
              <span class="number">0</span>   P
            <% end %>
          </div>
  	      <div class="point-buttons text-center">
  	        <%= link_to point_histories_path, class: 'btn btn-success point-history' do %>
  	          <i class="fa fa-bar-chart"></i>  ポイント履歴確認
  	        <% end %>
  	        <%= link_to new_withdraw_path, class: 'btn btn-o withdraw' do %>
  	          <i class="fa fa-briefcase"></i>  ポイント出金依頼
  	        <% end %>
  	      </div>
  	      <div class="purchase">
        	  <%= form_tag(action: :purchase, controller: :point_histories, method: :post) do %>
          	  <%= label_tag :price, 'ポイント購入', class:'mini-title' %><br />
              <div class="text-center">
                <%= select_tag :price, options_for_select([['3,000ポイント(3,000円)', 3000], ['5,000ポイント(5,000円)', 5000], ['10,000ポイント(10,000円)', 10000],]) %>
                <script class="payjp-button" data-key="<%= ENV['PAYJP_PUBLIC_KEY'] %>" src="https://checkout.pay.jp" type="text/javascript" data-text="クレジット支払い"></script>
              </div>
            <% end %>
  	      </div>
    	  </div>
    	</div>
    </div>
    
    <div class="row menu text-center">

      <% if current_user.lesson %>
        <div class="col-sm-2  col-sm-offset-2 col-xs-3">
          <%= link_to users_path do %>
            <i class="fa fa-share-square-o"></i>
          <% end %>
        </div>
        <div class="col-sm-2 col-xs-3">
          <%= link_to edit_user_path(current_user) do %>
            <i class="fa fa-edit"></i>
          <% end %>
        </div>
        <div class="col-sm-2 col-xs-3">
          <%= link_to messages_path do %>
            <i class="fa fa-envelope"></i>
          <% end %>
        </div>
        <div class="col-sm-2 col-xs-3">
          <%= link_to @user, data: {confirm: 'アカウントを削除しますか？'}, method: :delete do %>
            <i class="fa fa-user-times"></i>
          <% end %>
        </div>
      
      <% else %>
        <div class="col-sm-2  col-sm-offset-3 col-xs-4">
          <%= link_to edit_user_path(current_user) do %>
            <i class="fa fa-edit"></i>
          <% end %>
        </div>
        <div class="col-sm-2 col-xs-4">
          <%= link_to messages_path do %>
            <i class="fa fa-envelope"></i>
          <% end %>
        </div>
        <div class="col-sm-2 col-xs-4">
          <%= link_to @user, data: {confirm: 'アカウントを削除しますか？'}, method: :delete do %>
            <i class="fa fa-user-times"></i>
          <% end %>
        </div>
      <% end %>
      
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <h3>開催中のレッスン</h3>
      </div>
    </div>
    <% if @user.lesson %>
      <div class="row">
        <% @user.lesson.lesson_plans.each.with_index(1) do |plan, index| %>
          <div class="col-sm-4 col-md-3 plans">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                <h4 class="panel-title">レッスンプラン <%= index %></h4>
              </div>
              <div class="panel-body">
                <ul>
                  <% if plan.location_narrow.blank? %>
                    <li>場所： <%= plan.location_broad %></li>
                  <% else %>
                    <li>場所： <%= plan.location_broad %>  ( <%= plan.location_narrow %> )</li>
                  <% end %>
                  <li>時間： <%= plan.minute %> 分</li>
                  <li>料金： <%= plan.price_yen.to_s(:delimited) %> 円</li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="text-center lesson-button">
        <%= link_to @user.lesson, class:'btn btn-o' do %>
          <i class="fa fa-paperclip"></i> レッスン詳細
        <% end %>
        <%= link_to edit_lesson_path(@user.lesson), class:'btn btn-o' do %>
          <i class="fa fa-edit"></i> レッスン編集
        <% end %>
      </div>
    <% else %>
    	<div class="no-info text-center">
				<p><i class="fa fa-exclamation-circle"></i>  開催中のレッスンがありません</p>
			</div>
      <div class="text-center lesson-button">
        <%= link_to new_lesson_path, class:'btn button-go button-hold' do %>
          <i class="fa fa-plus-square"></i>  レッスンを開催する
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-lg-12">
        <h3>お気に入りに追加した講師</h3>
      </div>
    </div>
    <% if @favorites.present? %>
      <div class="row">
  		  <% @favorites.each do |favorite| %>
  				<div class="col-md-3 col-sm-6 favorites">
  					<div class="instructor">
  						<div class="text-center">
				        <%= link_to image_tag(gravatar_url(favorite.to_user, { size: 180 }), class: 'img-circle circular-img imgWrap'), favorite.to_user.lesson %>
  							<h4 class="instructor-head"><%= link_to favorite.to_user.name, favorite.to_user.lesson %></h4>
  						</div>
  					</div>
  				</div>
  			<% end %>
      </div>
    <% else %>
    	<div class="no-info text-center favorites">
				<p><i class="fa fa-exclamation-circle"></i>  お気に入りに追加した講師がいません</p>
			</div>
      <div class="text-center lesson-button">
        <%= link_to lessons_path, class:'btn button-go button-find' do %>
          <i class="fa fa-search"></i>  講師を探す
        <% end %>
      </div>
    <% end %>
    
    <div class="row">
      <div class="col-lg-12">
        <h3>レッスンを申込んだ講師</h3>
      </div>
    </div>
    <% if @user.point_receivers.present? %>
      <div class="row">
  		  <% @user.point_receivers.distinct.each do |instructor| %>
  				<div class="col-md-3 col-sm-6">
  					<div class="instructor">
  						<div class="text-center">
				        <%= link_to image_tag(gravatar_url(instructor, { size: 180 }), class: 'img-circle circular-img imgWrap'), instructor.lesson %>
  							<h4 class="instructor-head"><%= link_to instructor.name, instructor.lesson %></h4>
  							<% if current_user.reviewed?(instructor) %>
  							  <div class="review">
  							    あなたの評価：
    							  <% Review.find_by(from_user_id: current_user.id, to_user_id: instructor.id).rate.times do %>
    							   <i class="fa fa-star stars"></i>
    							  <% end %>
    							  <% ( 5 - Review.find_by(from_user_id: current_user.id, to_user_id: instructor.id).rate).times do %>
    							   <i class="fa fa-star-o stars"></i>
    							  <% end %>
    							</div>
    							<%= link_to edit_review_path(instructor_id: instructor.id), class: 'btn button-go button-star-edit' do %>
    							  <i class="fa fa-edit"></i>  レビューを編集
    							<% end %>
    						<% else %>
    						  <%= link_to new_review_path(instructor_id: instructor.id), class: 'btn button-go button-star' do %>
    							  <i class="fa fa-edit"></i>  レビューを作成
    							<% end %>
    						<% end %>
  						</div>
  					</div>
  				</div>
  			<% end %>
      </div>
    <% else %>
    	<div class="no-info text-center">
				<p><i class="fa fa-exclamation-circle"></i>  レッスンを申込んだ講師がいません</p>
			</div>
      <div class="text-center lesson-button">
        <%= link_to lessons_path, class:'btn button-go button-find' do %>
          <i class="fa fa-search"></i>  講師を探す
        <% end %>
      </div>
    <% end %>
  </div>
</div>