<%= stylesheet_link_tag 'withdraw_new', media: 'all' %>

<div id="title" class="withdraw_new">
  <div class="slogans">
		<div class="slogan">
			Withdraw Points
		</div>
		<div class="secondary-slogan">
			ポイント出金申請
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
    <%= render 'layouts/flash_messages' %>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<%= form_tag withdraws_path, :method => :post do %>
					<table class="table">
						<tbody>
							<tr>
								<th width="50%">出金ポイント数 <span>*</span></th>
								<td align="right" valign="middle" width="20%">
					      	<%= number_field_tag :point, params[:point], value: 5000, style:"text-align: right;" %>
								</td>
								<td align="left" valign="middle" width="30%">ポイント</td>
							</tr>
							<tr>
								<th>手数料 (20%)</th>
								<td id="fee" align="right" valign="middle">750</td>
								<td align="left" valign="middle">円</td>
							</tr>
							<tr>
								<th>振込額</th>
								<td id="result" align="right" valign="middle">4250</td>
								<td align="left" valign="middle">円</td>
							</tr>
						</tbody>
					</table>
					<div class="notice">
						<span>* </span> ポイント出金申請は<span>5,000ポイント</span>から受け付けています。
					</div>
					<div class="action text-center">
	          <%= submit_tag '出金申請する', class: 'btn btn-o' %>
					</div>
	      <% end %>
	     </div>
		</div>
	</div>
</div>


<script>
	jQuery(function($){
		$(document).ready(function(){
	    var total;
	    $("input[type=number]").on('click keydown keyup keypress change', function() {
	        total = 0;
	        var point = $(this).val();
	        total = Math.round(parseInt(point)*0.8);
	        fee = parseInt(point)-total;
	        $('#result').html(total);
	        $('#fee').html(fee);
	    });
		});
	});
</script>




