<%= stylesheet_link_tag 'withdraw_new', media: 'all' %>

<div id="title" class="withdraw_new">
  <div class="slogans">
		<div class="slogan">
			Withdraw Points
		</div>
		<div class="secondary-slogan">
			ポイント出金依頼
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
    <%= render 'layouts/flash_messages' %>
		<div class="row">
      <%= form_tag withdraws_path, :method => :post do %>
        <div class="form-group">
          <%= label_tag :point, '出金ポイント数', class: 'mini-title' %>
          <%= number_field_tag :point, min: 5000, class: 'form-control' %>
          <%= submit_tag '出金依頼を確定する' %>
        </div>
      <% end %>
		</div>
	</div>
</div>