<%= stylesheet_link_tag 'toppage', media: 'all' %>

<div id="flash">
	<%= render 'layouts/flash_messages' %> 
</div>

<div id="header" class="content-block">
	<section class="center">
		<div class="slogan">
			Release Curiousity
		</div>
		<div class="secondary-slogan">
			Find the Best Lesson for Jazz
		</div>
		<div class="tertiary-slogan">
			ーあなたに最適なプライベートレッスンをー
		</div>
		<%= link_to new_user_path, class:'btn btn-o-white btn-lg' do %>
			Bridgerを始める
		<% end %>
		<p class="scroll js-scroll"><a href="">SCROLL</a></p>
	</section>

</div><!-- header -->

<!-- About us -->
<div id="about" class="about-us">
  <div class="container about-sec">
    <header class="block-heading cleafix">
			<div class="title-page">
				<p class="main-header">About</p>
		    <p class="sub-header">Bridgerの特徴</p>
			</div>
		</header>
    <div class="divide50"></div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="about-item">
          <i class="about-icon fa fa-search-plus"></i>
          <h4 class="about-title">選べる分野</h4>
          <p class="about-desc">楽器操作の基礎技術からインプロヴィゼーション、作曲まで１０種類以上の豊富なカテゴリーから学びたい分野を選び、各分野ごとに最適な講師にレッスンを受けることができます。</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="about-item">
          <i class="about-icon fa fa-pagelines"></i>
          <h4 class="about-title">柔軟な受講形態</h4>
          <p class="about-desc">１レッスンあたりの時間や開催場所（オンライン/オフライン）の選択肢が複数用意されているため、あなたのライフスタイルに合ったレッスンを無理なく受けることができます。</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="about-item">
          <i class="about-icon fa fa-credit-card"></i>
          <h4 class="about-title">無料登録</h4>
          <p class="about-desc">ユーザー登録は無料です。初期費用や会費等、レッスン料金の他に費用は一切かかりません。当サイトからの費用請求はありませんので、安心してご利用いただくことができます。</p>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- /About us -->

<div class="content-block" id="top-instructors">
	<div class="container top-instructors-sec">
		<header class="block-heading cleafix">
			<div class="title-page">
				<p class="main-header">Top Instructors</p>
			    <p class="sub-header">高評価の講師</p>
		    </div>
		</header>
		<section class="block-body">
			<div class="row">
				<% @top_rated_lessons.each do |lesson| %>
					<div class="col-sm-4">
						<%= link_to lesson, style: "background-image:url(#{gravatar_url(lesson.instructor, { size: 360 })})", class: 'instructor' do %>
							<span class="btn btn-o-white">講師詳細へ</span>
						<% end %>
					</div>
				<% end %>
			</div>
		</section>
	</div>
</div><!-- #top-instructors -->

<div class="content-block parallax" id="howtos">
	<div class="container howtos-sec">
		<div class="title-page">
			<p class="main-header">How to Use </p>
		    <p class="sub-header">ご利用方法</p>
		</div>
		<section class="block-body">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="howto text-center">
						<i class="howto-icon fa fa-laptop"></i>
						<h4 class="howto-head">１. ユーザー登録</h4>
						<p>ユーザー登録は無料です。レッスン料金の他に費用は一切かかりません。</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="howto text-center">
						<i class="howto-icon fa fa-search"></i>
						<h4 class="howto-head">２. 講師を探す</h4>
						<p>楽器、得意分野、レッスン形態、地域で講師情報の絞り込み検索ができます。</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="howto text-center">
						<i class="howto-icon fa fa-envelope"></i>
						<h4 class="howto-head">３. メッセージを送る</h4>
						<p>レッスンを受講したい講師に、日程や場所の調整依頼のメッセージを送ります。</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="howto text-center">
						<i class="howto-icon fa fa-music"></i>
						<h4 class="howto-head">４. レッスン受講</h4>
						<p>オンラインもしくはオフラインにて、マンツーマンレッスンを受講します。</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div><!-- #howtos -->


<div id="recruit" class="content-block">
	<!-- <section class="top clearfix">
		<div class="pull-left">
			<h1><a class="logo" href="index.html">Nevada <span class="logo-head">Plus</span></a></h1>
		</div>
		<! <div class="pull-right">
			<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
		</div> 
	</section>-->
	<section class="center">
		<div class="recruit-message">
			あなたの得意分野を活かしてみませんか？
		</div>
		<div class="secondary-recruit-message">
			Bridgerでは講師の募集を行なっております。
		</div>
	</section>
	<a href="" class="text-center btn btn-o-white btn-lg">詳しくはこちら</a>
</div>

<div class="content-block" id="recent-instructors">
	<div class="container testimonial-sec">

		<header class="block-heading cleafix">
			<div class="title-page  pull-left">
				<p class="main-header">New Instructors</p>
			    <p class="sub-header">最近登録された講師</p>
			</div>
		</header>
		
		<section class="block-body">
			<div class="row">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  	<!-- Indicators -->
				  	<ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  	</ol><!-- /.carousel-indicators -->


				  	<!-- Wrapper for slides -->
				  	<div class="carousel-inner" role="listbox">
					    <div class="item active">
					      <div class="img-center">
					      	<img class="img-circle circular-img" src="<%= gravatar_url(@latest_lesson.instructor, { size: 200 }) %>">
					      </div>
  							<h4 class="instructor-head"><%= link_to @latest_lesson.instructor.name, @latest_lesson %></h4>
					      <p><%= @latest_lesson.biography %></p>
					    </div><!-- /.item -->
					    
					    <div class="item">
					    	<div class="img-center">	
					      	<img class="img-circle circular-img" src="<%= gravatar_url(@second_latest_lesson.instructor, { size: 200 }) %>">
					      </div>
  							<h4 class="instructor-head"><%= link_to @second_latest_lesson.instructor.name, @second_latest_lesson %></h4>
					      <p><%= @second_latest_lesson.biography %></p>
					    </div><!-- /.item -->
					    
					    <div class="item">
					    	<div class="img-center">	
					      	<img class="img-circle circular-img" src="<%= gravatar_url(@third_latest_lesson.instructor, { size: 200 }) %>">
					      </div>
  							<h4 class="instructor-head"><%= link_to @third_latest_lesson.instructor.name, @third_latest_lesson %></h4>
					      <p><%= @third_latest_lesson.biography %></p>
					    </div><!-- /.item -->
				  	</div><!-- /.carousel-inner -->
				</div><!-- /.carousel slide -->
			</div>	
		</section><!-- /.block-body -->
	</div>
</div><!-- /#recent-instructors -->

<script>
jQuery(function($){
	$(window).on('load resize',function(){
	  //ウィンドウの高さを取得する
	  var targetY = $(window).height();
	  
	  //スクロールをクリックするとウィンドウの高さ分、下にスクロールする
	  $('.js-scroll a').on('click',function(){
	    $("html, body").stop().animate({scrollTop: targetY}, 450, 'swing');
	    return false;
	  });
	});
});
</script>