<%= form_for(lesson) do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :instrument_ids, '楽器' %><br />
    <%= f.collection_check_boxes :instrument_ids, Instrument.all, :id, :ins_name_ja, class:'checkbox' %>
  </div>

  <div class="form-group">
    <%= f.label :youtube_url1, 'メイン参考動画URL' %>
    <%= f.text_field :youtube_url1, value:@lesson.youtube_url1 ,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :youtube_url2, 'サブ参考動画URL(1)' %>
    <%= f.text_field :youtube_url2, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :youtube_url3, 'サブ参考動画URL(2)' %>
    <%= f.text_field :youtube_url3, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :biography, '自己紹介' %>
    <%= f.text_area :biography, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :advantage, 'レッスンで学べること' %>
    <%= f.text_area :advantage, class:'form-control' %>
  </div>
  <%= f.hidden_field :instructor_id, value: current_user.id %>

  <h4>レッスンプラン詳細（複数設定可）</h4>
  <%= f.fields_for :lesson_plans do |l| %>
    <%= render 'lesson_plan_fields', f: l %>
  <% end %>
  
  <div class="text-right">
    <%= link_to_add_association '明細を追加', f, :lesson_plans,
    class: 'btn btn-default'
    %>
  </div>
  
  <%= f.submit '登録', class: 'btn' %>
<% end %>