<%= form_for(lesson) do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.lesson %>
    <div class="form-group">
      <%= f.label :instrument_ids, '教える楽器', class:'mini-title necessary' %><br />
      <%= f.collection_check_boxes :instrument_ids, Instrument.all, :id, :ins_name_ja, class:'checkbox' do |b| %>
        <div class="each-checkbox">
          <%= b.check_box %>
          <%= b.label { b.text } %>&nbsp;&nbsp;
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :subject_ids, '教える分野', class:'mini-title necessary' %><br />
      <%= f.collection_check_boxes :subject_ids, Subject.all, :id, :subj_name_ja, class:'checkbox' do |b| %>
        <div class="each-checkbox">
          <%= b.check_box %>
          <%= b.label { b.text } %>&nbsp;&nbsp;
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :instrument_ids, '教える楽器', class:'mini-title necessary' %><br />
      <%= f.collection_check_boxes :instrument_ids, Instrument.all, :id, :ins_name_ja, checked: current_user.instrument_ids, class:'checkbox' do |b| %>
        <div class="each-checkbox">
          <%= b.check_box %>
          <%= b.label { b.text } %>&nbsp;&nbsp;
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :subject_ids, '教える分野', class:'mini-title necessary' %><br />
      <%= f.collection_check_boxes :subject_ids, Subject.all, :id, :subj_name_ja, checked: current_user.subject_ids, class:'checkbox' do |b| %>
        <div class="each-checkbox">
          <%= b.check_box %>
          <%= b.label { b.text } %>&nbsp;&nbsp;
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :youtube_url1, 'メイン参考動画URL', class: 'mini-title necessary' %>
    <%= f.text_field :youtube_url1, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :youtube_url2, 'サブ参考動画URL(1)', class:'mini-title' %>
    <%= f.text_field :youtube_url2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :youtube_url3, 'サブ参考動画URL(2)', class:'mini-title' %>
    <%= f.text_field :youtube_url3, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :biography, '自己紹介', class: 'mini-title necessary' %>
    <%= f.text_area :biography, size:'8x8', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :advantage, 'レッスンで学べること', class: 'mini-title necessary' %>
    <%= f.text_area :advantage, size: '8x8', class: 'form-control' %>
  </div>
  <%= f.hidden_field :instructor_id, value: current_user.id %>

  <h4 class="mini-title necessary plan-head">レッスンプラン詳細（複数設定可）</h4>
  <%= f.fields_for :lesson_plans do |l| %>
    <%= render 'lesson_plan_fields', f: l %>
  <% end %>
  
  <div class="text-right">
    <%= link_to_add_association '明細を追加', f, :lesson_plans, class: 'btn btn-default' %>
  </div>
  
  <%= f.hidden_field :average_rate, value: 0 %>

  <div class="actions text-center">
    <%= button_tag type: 'submit', class:'btn btn-o btn-register' do %>
      <i class="fa fa-clipboard"></i>  <%= submit_name %>
    <% end %>
  </div>
<% end %>