<%= stylesheet_link_tag 'lesson_index', media: 'all' %>

<div id="title" class="lesson_index">
  <div class="slogans">
		<div class="slogan">
			Instructors
		</div>
		<div class="secondary-slogan">
			講師一覧
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<%= form_for @search_form, as: 'search', url: :lessons, html: {method: :get} do |f| %>
		<%= f.label :name, "名前", class:'mini-title'%>
		<%= f.text_field :name %>
		<%= f.label :language_ids, '言語', class:'mini-title necessary' %><br />
	    <%= f.collection_check_boxes :language_ids, Language.all, :id, :lang_name, checked: @search_form.language_ids, class:'checkbox', include_hidden: false do |b| %>
	      <div class="each-checkbox">
	        <%= b.check_box %>
	        <%= b.label { b.text } %>&nbsp;&nbsp;
	      </div>
	    <% end %>
			<%= f.submit "検索" %>
		<% end %>
		
		<div class="row">
		  <% @lessons.each do |lesson| %>
		
			<div class="col-md-3 col-sm-6">
				<div class="instructor">
					<div class="text-center">
			      <img class="img-circle circular-img" src="<%= gravatar_url(lesson.instructor, { size: 180 }) %>">
						<h4 class="instructor-head"><%= link_to lesson.instructor.name, lesson %></h4>
					</div>
					<ul>
					  <li><strong>楽器：</strong><%= lesson.instruments.pluck(:ins_name_ja).join('、') %></li>
					  <li><strong>分野：</strong><%= lesson.subjects.pluck(:subj_name_ja).join('、') %></li>
					</ul>
				</div>
			</div>
			
			<% end %>
		</div>
	</div>
</div>

