<%= stylesheet_link_tag 'lesson_show', media: 'all' %>

<div id="title" class="lesson_show">
  <div class="slogans">
		<div class="slogan">
			Instructor Details
		</div>
		<div class="secondary-slogan">
			講師詳細
		</div>
	</div>
</div>
<div class="content">
  <div class="container">
    <%= render 'layouts/flash_messages' %>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="movie-wrap">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/<%= @url1 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="explanation">
          <h3>Biography - 略歴</h3>
          <p><%= @lesson.biography %></p>
        </div>
        <div class="explanation">
          <h3>What you can learn - レッスンで学べること</h3>
          <p><%= @lesson.advantage %></p>
        </div>
        <% unless @url2.blank? && @url3.blank? %>
          <h3>More Videos - 参考演奏</h3>
        <% end %> 
        <% unless @url2.blank? %>
          <div class="col-sm-6">
            <div class="movie-wrap">
              <iframe width="426" height="240" src="https://www.youtube.com/embed/<%= @url2 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        <% end %>
        <% unless @url3.blank? %>
          <div class="col-sm-6">
            <div class="movie-wrap">
              <iframe width="426" height="240" src="https://www.youtube.com/embed/<%= @url3 %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="instructor">
          <div class="text-center">
            <img class="img-circle circular-img" src="<%= gravatar_url(@lesson.instructor, { size: 180 }) %>">
      			<h4 class="instructor-head"><%= @lesson.instructor.name %></h4>
      		</div>
          <ul>
            <li><strong>楽器：</strong><%= @instruments.pluck(:ins_name_ja).join('、') %></li>
            <li><strong>分野：</strong><%= @subjects.pluck(:subj_name_ja).join('、') %></li>
            <li><strong>言語：</strong><%= @languages.pluck(:lang_name).join('、') %></li>
          </ul>
        </div>
        
        <% @lesson.lesson_plans.each.with_index(1) do |plan, index| %>
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <h4 class="panel-title">レッスンプラン <%= index %></h4>
            </div>
            <div class="panel-body">
              <ul>
                <% if plan.location_narrow.blank? %>
                  <li>場所： <%= plan.location_broad %></li>
                <% else %>
                  <li>場所： <%= plan.location_broad %>  ( <%= plan.location_narrow %> )</li>
                <% end %>
                <li>時間： <%= plan.minute %> 分</li>
                <li>料金： <%= plan.price_yen.to_s(:delimited) %> 円</li>
              </ul>
            </div>
            <div class="text-center">
              <% if logged_in? %>
                <% if current_user.lesson == @lesson %>
                  <%= link_to edit_lesson_path(@lesson), class:'btn btn-default' do %>
                    <i class="fa fa-edit"></i>  レッスン情報編集
                  <% end %>
                <% else %>
                  <%= link_to new_message_path(user_id: plan.lesson.instructor_id, plan_id: plan.id), class:'btn btn-default' do %>
                    <i class="fa fa-envelope"></i>  レッスン申し込みへ
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to new_message_path(user_id: plan.lesson.instructor_id, plan_id: plan.id), class:'btn btn-default' do %>
                  <i class="fa fa-envelope"></i>  レッスン申し込みへ
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
  
    </div>
  </div>
</div>