<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field form-group">
    <%= label_tag :email, 'メールアドレス', class:'mini-title' %><br />
    <%= text_field_tag :email, params[:email], class:'form-control' %>
  </div>
  <div class="field form-group">
    <%= label_tag :password, 'パスワード', class:'mini-title' %><br />
    <%= password_field_tag :password, '', class:'form-control' %>
  </div>
  <div class="actions text-center">
    <%= button_tag type: 'submit', class:'btn btn-o' do %>
      <i class="fa fa-sign-in"></i>  ログイン
    <% end %>
  </div>
<% end %>