<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->
	<head>
		<title>Bridger</title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS-->
    <!-- app/assets/stylesheets -->
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- app/assets/javascripts-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.js"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	<script src="assets/js/selectivizr.js"></script>
	    <![endif]-->
	</head>
	
	<body>
		<%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
		<%= stylesheet_link_tag 'style', media: 'all' %>

		<%= render 'layouts/navbar' %>
		
		<div id="wrapper">
			<%= yield :cover %>
	
			<%= yield %>
	
	    <%= render 'layouts/footer' %>
		</div>
		
		<script type="text/javascript">
		jQuery(document).ready(function($){
		  $(window).scroll(function() {
		  	console.log("asdf");
				if ($(window).scrollTop() > 100 ){
  		 		$('.top-header').addClass('shows');
	  		} else {
		   	 	$('.top-header').removeClass('shows');
		 		};
			});
    	//queue()で処理を溜めてdequeue()で実行。3秒経ったらfadeOut()
      $('.alert').fadeIn().queue(function() {
          setTimeout(function(){$('.alert').dequeue();
          }, 2000);
      });
      $(".alert").fadeOut(2000, 'linear');
		});

		jQuery('.scroll').on('click', function(e){		
			e.preventDefault()
		  jQuery('html, body').animate({
		    scrollTop : jQuery(this.hash).offset().top
		  }, 1500);
		});
		</script>
	</body>
</html>
